@media (max-width: 1200px) {
    
    body {
        background-color:rgba(0,0,0,0.9);
    }
    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .title-movie {
        margin-top: 50px;
        max-width: 100%;
    }
    .container .mario {
        max-width: 50%;
    }

    .container .info {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .text {
        color: #fff;
    }
}

@media (max-width: 767px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .backvideo {
        height: 100vh;
    }

    header nav li{
        padding: 0 10px;
    }

    .container .title-movie {
        margin-top: 50px;
        max-width: 100%;
    }

    .container .title-image {
        max-width: 75%;
    }

    .fechar-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}
